<marquee class="news">{{news}}</marquee>
<!-- for menu section-->
<mat-card>
  <div class="logo">
    <h2 class="logo-text">Berenia Academy</h2>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-card>
<!-- end menu section-->


<!-- for search section-->
<mat-card class="search-section">
  <section>
    <div>
      <button mat-button class="button-row">EXPLORE COURSES</button>
    </div>
  </section>
  <div class="search">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label style="color: #cecece;">Search...</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <section class="sign-in">
    <div>
      <button mat-button class="button-row">SIGN IN</button>
    </div>
    <div>
      <button mat-button class="button-row">JOIN FOR FREE</button>
    </div>
  </section>
</mat-card>
<!-- end search section-->

<!-- for Product section-->
<mat-card class="mat-elevation-z0 card-section product-section">
  <div class="wrapper">
    <div class="text">
      <h2>FOR EXCELLENCE AND PRODUCTIVITY</h2>
    </div>
    <div class="text-sub">
      <h3>
        Join our intensive offline Bootcamp program, starting 10 March, 2022.Grab your opportunity now!!!
      </h3>
    </div>
    <div style="padding-left: 20px;">
      <button mat-button class="button-row">ENROLL NOW</button>
    </div>
  </div>

  <section class="product">
    <div>
      <img src="../../../assets/svgImages/Certification.svg" height="400" alt="">
    </div>
  </section>
</mat-card>
<!-- end product section-->

<!-- for card section-->
<mat-card class="mat-elevation-z0 card-section">
  <mat-card class="card">
    <div class="wrapper">
      <div class="title">
        <h2>Become a web Developer</h2>
      </div>
      <div class="sub-title">
        <h3>You can still be a developer in 3 months time. Just join our offline bootcamp </h3>
      </div>
      <div>
        <button mat-button class="button-row">ENROLL</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="wrapper">
      <div class="title">
        <h2>Master Office skills</h2>
      </div>
      <div class="sub-title">
        <h3>You can still be a developer in 3 months time. Just join our offline bootcamp </h3>
      </div>
      <div>
        <button mat-button class="button-row">ENROLL</button>
      </div>
    </div>
  </mat-card>
</mat-card>
<!-- end card section-->

<!-- last Section-->
<div class="section">
  <div class="wrapper">
    <div class="title">
      <h2>
        Final resolution to get the skill
        Its time to start the journey
      </h2>
    </div>
    <div class="main-set">
      <div class="set">
        <div class="logo">
          <img src="../../../assets/svgImages/Software Developer.svg"  alt="">
        </div>
        <div class="logo-title">
          <h3>Technology</h3>
        </div>
        <div class="logo-text">
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h4>
        </div>
      </div>
      <div class="set">
        <div class="logo">
          <img src="../../../assets/svgImages/Employees-co-working.svg"  alt="">
        </div>
        <div class="logo-title">
          <h3>Office</h3>
        </div>
        <div class="logo-text">
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h4>
        </div>
      </div>
      <div class="set">
        <div class="logo">
          <img src="../../../assets/svgImages/Business-merger.svg"  alt="">
        </div>
        <div class="logo-title">
          <h3>Business</h3>
        </div>
        <div class="logo-text">
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h4>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- end last Section-->